

body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    margin-left: 400px;
  }
  p {
    margin-left: 400px;
  }

  a {
    margin-left: 400px;

  }
  h1 {
    font-size: 100px;
  }
  body {
    background-image: url(../BILDER/1105138.jpg);
  }


  .flex-container {
    display: flex;
    background-color: darkgray;
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.2);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 50px;
    font-size: 30px;
  }