body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../Bilder/pexels-fwstudio-33348-129731.jpg);
  background-size: 100% auto;
}
p { /* Endringer på p */
  font-size: 20px;
  text-align: center;
}
a { /* Endringer på a */
  font-size: 20px;
}
h1 { /* Endringer på h1 */
  font-size: 60px;
  text-align: center;
}
td, th {
  border: 3px solid #d6767680;
  text-align: center;
  padding: 20px;
}
.topnav { /* farge på topnav */
  overflow: hidden;
  background-color:#381e15;
}

.topnav a { /* Endringer på topnav */
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { /* Endringer på hover */
  background-color: #ddd;
  color: black;
}

.topnav a.active { /* Endringer på active */
  background-color: #381e15;
  color: white;
}

.dropdown { 
  position: relative;
  display: inline-block;
}

.dropdown-content { /* hvis jeg vil ha dropdown */
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:darkred }

/* Grid Layout */
.grid-container {
  display: grid;
  gap: 10px;
  background-color: rgb(241, 182, 119);
  padding: 10px;
  grid-template-columns: repeat(3, 1fr); /* Tre like columns */
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr; /* tre columns */
  }
  p { 
    font-size: 22px; /* Mindre paragraph font size */
  }

  h1 { 
    font-size: 60px; /* Mindre heading font size */
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr; /* To columns */
  }
  p { 
    font-size: 16px; /* Mindre paragraph font size */
  }

  h1 { 
    font-size: 40px; /* Mindre heading font size */
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Singel column */
  }
  p { 
    font-size: 10px; /* Mindre paragraph font size */
  }

  h1 { 
    font-size: 24px; /* Mindre top font size */
  }
  .grid-item {
    width: auto; /* Fjerner fixed width for å kunne endre størrelse */
  }
}
.grid-item { /* de forskjellige grid itemsene */
  background-color: rgba(248, 204, 158, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 15px;
  align-items: center;
}

.top {
  grid-column: 1/ span 3;
  grid-row: 1;
  background-color: #d6767680;
  height: auto;
  width: auto;
}

.tbl {
  grid-column: 1 / span 3;
  grid-row: 2;
}
.left1 {
  grid-column: 1;
  grid-row: 2;

}

.middle1 {
  grid-column: 2;
  grid-row: 2;
}

.right1 {
  grid-column: 3;
  grid-row: 2;
}

.left2 {
  grid-column: 1;
  grid-row: 3;
}

.middle2 {
  grid-column: 2;
  grid-row: 3;
}

.right2 {
  grid-column: 3;
  grid-row: 3;
}

