body {
    background-color: white;
  }
  
  th {
    color: navy;
    margin-left: 400px;
  }

  h1 {
    background-color: white;
  }
  
  a {
    background-color: white;
  }
  
  p {
    background-color: white;
  }