

body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 400px;
  }
  p {
    margin-left: 400px;
  }

  a {
    margin-left: 400px;

  }
  body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg");
  }

  .flex-container {
    display: flex;
    background-color: DodgerBlue;
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }